<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music Generator by Kordyukov</title>
<style>
    body{background: #f5f4f3
    }
    audio {
        filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
        width: 500px;
        height: 50px;}
    p{font-family: Impact;font-size: 24px;}
</style>
</head>
<body>
<p>MusicGenerator page by Kordyukov start!</p>
<p>The generated music file is being recorded... and is located in Tomcat\webapps\MusicGenerator.wav.!</p>
</body>
</html>

