<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello on Music Generator by Kordyukov</title>
    <style>
        body {background: aqua}
        p {font-size: 50px;font-family: Impact;flood-opacity: initial;}
    </style>
<script>
    function ready() {
        alert('DOM готов');

        navigator.mediaDevices.getUserMedia({ audio: true})
            .then(stream => {
                const mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.start(); });


    }

    document.addEventListener("DOMContentLoaded", ready);

</script>

</head>
<body>
<p>Hello on MusicGenerator page by Kordyukov!</p>

</form>


</body>
</html>

