<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello on Music Generator by Kordyukov</title>
    <style>
        body {background: aqua}
        p {font-size: 50px;font-family: Impact;flood-opacity: initial;}
    </style>
<script>
    function ready() {
        alert('DOM готов');
        createParticles()


    }

    document.addEventListener("DOMContentLoaded", ready);

    var Analyse = function () {
        var an= this,
            AudioContext = w.AudioContext || w.webkitAudioContext;

        //Создание источника
        this.audio = new Audio();
        this.audio.src = "test1.ogg";
        this.controls = true;
        //Создаем аудио-контекст
        this.context = new AudioContext();
        this.node = this.context.createScriptProcessor(2048, 1, 1);
        //Создаем анализатор
        this.analyser = this.context.createAnalyser();
        this.analyser.smoothingTimeConstant = 0.3;
        this.analyser.fftSize = 512;
        this.bands = new Uint8Array(this.analyser.frequencyBinCount);
        //Подписываемся на событие
        this.audio.addEventListener('canplay', function () {
            //отправляем на обработку в  AudioContext
            an.source = an.context.createMediaElementSource(an.audio);
            //связываем источник и анализатором
            an.source.connect(an.analyser);
            //связываем анализатор с интерфейсом, из которого он будет получать данные
            an.analyser.connect(an.node);
            //Связываем все с выходом
            an.node.connect(an.context.destination);
            an.source.connect(an.context.destination);
            //подписываемся на событие изменения входных данных
            an.node.onaudioprocess = function () {
                an.analyser.getByteFrequencyData(an.bands);
                if (!an.audio.paused) {
                    if (typeof an.update === "function") {
                        return an.update(an.bands);
                    } else {
                        return 0;
                    }
                }
            };
        });

        return this;
    };

    var createParticles = function () {
        var particle = null, audio = null;
        for (var i = 0; i < 50; i++) {
            particle = new Particle();
            particles.push(particle);
        }
        //Создаем анализатор
        elem = new Analyse();
        //Добавляем элемент audio на страницу
        document.body.appendChild(elem.audio);
        //Добавляем данные полученные анализатором к созданным частицам
        audio.update = function (bands) {
            var ln = 50;
            while (ln--) {
                var loc = particles[ln];
                loc.pulse = bands[loc.band] / 256;
            }
        };
        //Тут запускаем непосредственно функцию отрисовки
        setInterval(draw,33);
    }

</script>

</head>
<body>
<p>Hello on MusicGenerator page by Kordyukov!</p>

</form>


</body>
</html>

