<!DOCTYPE html>
<html lang="en">
<head>
    <title>MusicGenerator page by Kordyukov</title>
    <link type="text/css" rel="stylesheet" href="static/style.css">
</head>
<body>
<p>Hello on MusicGenerator page by Kordyukov!</p>

<div class = "wrp">
    <div class="player">
        <div class="play-pause" id = "-1"></div>
        <div class="nameSong">MusicGenerator</div>
        <div class="settings">
            <div class="mute">♫</div>
            <input type="range" class="volume" min="0" max="100" value="100">
        </div>
        <div class="bar">
            <div class="setTime"></div>
            <div class="range">
                <div class="progres"></div>
                <div class="load"></div>
            </div>
        </div>
        <div class="time">0:00</div>
    </div>
    <div class="song">
        <div class="play-pause song"></div>
        <div class="nameSong_song">MusicGenerator</div>
        <div class="duration_song">0:00</div>
    </div>
</div>

</body>
</html>